<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Utya Test" verbose="1">
    <test name="Utya_IE">
        <parameter name="browser" value="iexplore"/>
        <classes>
            <class name="compareUtya" />
        </classes>
    </test>
    <test name="Utya_FF">
        <parameter name="browser" value="firefox"></parameter>
        <classes>
            <class name="compareUtya" />
        </classes>
    </test>
    <test name="Utya_Chrome">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="compareUtya" />
        </classes>
    </test>
</suite>